body{
    overflow-x:hidden ;
}
/*-----------------------------------------------------------navigation bar */
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px !important;
    margin: 20px;
    padding: 15px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.541);
}
#logo{
    width: 100px;
    /* padding: 20px; */
}
/* ---------------------------------------------------------content body  */
#matter{
    margin-top: 2vh;
    margin-left:10px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}
#matter input{
    width: 230px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.inner{
    font-weight: 500;
    background-color: aliceblue;
    display: inline-block;
    /* width: 100px; */
    padding: 2px;
    min-width: 20px;
    border-radius: 5px;
    color: rgb(8, 117, 117);
}
.bw{
    width: 100px;
    border-radius: 6px !important;
}

.search{
    padding-right: 20px;
}

.col-2{

    margin-top: 10px;
    padding: 0px;
}

.item{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px; 
    padding-top: 5px;
    cursor: pointer;
}
#list{
    padding: 0px;
    
}
#list li:nth-child(even){
    background-color: #c9c6c628;
}
#mat{
    
    margin-left:15px ;
}

#myTab{
    margin-top: auto;
    padding: 0px;
    justify-content: unset !important;

}

.select{
    padding: 10px;

    /* border: 1px solid red; */
}
#first,#rep,#date{
    border: 0.5px solid rgba(0, 153, 255, 0.541);
    
}
.show #ia{
    margin: 10px;
    background-color: rgb(126, 11, 126) !important;

}
.information{
    color: azure;
    display: flex;
    justify-content:space-between;
    padding: 15px;
    width: 98%;
    margin-top: 5px;
    margin-bottom: 10px;
    height: 15vh;
    /* background-color: rgba(149,44,173,255); */
    background-image: linear-gradient(to right,#f36ca7 ,#a31e98) ;
    border-radius: 3px;
    box-shadow: 0px 3px 5px rgb(75, 2, 75);
}
.left{
    width:240px !important;
    overflow-y: scroll;
    height: 500px;
}

.slide{
    display: none;
}

.tab{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-collapse: collapse;
    width: 300px;
    margin:20px;
    border: 1px solid rgba(128, 128, 128, 0.308);
    
  
  
}
td {
    border: 1px solid #dddddd;
    text-align: left;
    
  }
tr:nth-child(odd){
    background-color: rgba(28, 117, 168, 0.082);
}
.gridTable{
width: 95% !important;
position: relative;
transform: translateX(2%);
}
.left::-webkit-scrollbar {
    width: 10px;
 
  }
 .left::-webkit-scrollbar-track {
    background: #a7a3a3; 
    }
 .left::-webkit-scrollbar-thumb {
    background: rgb(142, 209, 209); 
  }
  .left::-webkit-scrollbar-thumb:hover {
    background: rgb(63, 209, 82); 
  }
  .selectCompressor,.hdates,.hsf{
      margin-left: 8px;
      display: flex;
      flex-direction: column;

  }
  .top{
      display: flex;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      
  }
.bluePrint{
   position: relative;
   /* border: 2px solid rgb(0, 255, 221); */

}
.img{
    position: absolute;
    display: inline-block;
    bottom: 110px;
    /* border: 2px solid red; */
    right: 12%;
    top:2%;
    z-index: -100;
    width:45%;
    height: 69vh;
    
}
.img img{
    width: 100%;
    height: 100%;
}
#motor{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    right: 10%;
    top: 30%;
    text-align: center;
    display: inline-block;
    border: 1px dotted rgba(0, 0, 0, 0.089);
    width: 10%;
    height: 100%;

}

#motor h5{
    border-radius: 5px;
    font-weight: 700;
    background-color:#736efe96;
        padding: 0.1em;
        margin: 1px;
        
}
#motor h6{
    border-radius: 5px;
    padding: 0.2em;
    background-color:#32aadadc;

}
#hide{
    display: none;
}

@media (max-width:780px){
    .slide{
        display: flex;
    }
   
    .hide{
        display: none;
        transition: ease-in;
    }
    .info{
        font-size: smaller;
        /* padding: 1px; */
    }
    #motor{
        top:250px;
        right: 20px;
        width: 20%;
        height: 7%;
        
    }
    .img{
    top:100%;
    left: 5%;
    width:100%;

    }
    
}
@media(max-width:1186px){
    #motor{
        top:250px;
        right: 20px;
        width: 20%;
        height: 7%;
        
    }
    .img{
    top:100px;
    left: 1%;
    width:90%;

    }
}

